<div>


  <table st-safe-src="providerList" st-table="rowCollection" class="table table-striped"  >


    <thead>
    <tr>
      <td colspan="6" class="text-center">
        <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
      </td>
    </tr>
    <tr>
      <th  st-sort="name" class="name-col hand" >name</th>
      <th  st-sort="region" class="hand">region</th>
      <th>capital</th>
      <th>population</th>
      <th>sub region</th>
      <th>favorite</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rowCollection">
      <td data-ng-bind="row.name"></td>
      <td data-ng-bind="row.region"></td>
      <td data-ng-bind="row.capital"></td>
      <td data-ng-bind="row.population"></td>
      <td data-ng-bind="row.subregion"></td>
      <td><input type="checkbox" checklist-model="favoriteService.favorites" checklist-value="row" checklist-comparator=".name"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="600" class="text-center hand">
        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
      </td>
    </tr>
    </tfoot>
  </table>


</div>
