<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ui-sref-active="active"><a ui-sref="root.provider" >Providers</a></li>
    <li ui-sref-active="active"><a ui-sref="root.favorite" >Favorites</a></li>
  </ul>
  <h3 class="text-muted">Favorites App</h3>
</div>
